/.import/*
/.mono/*
/src/ExperimentalTopDown2DFlightSimulatorCPP/.vs/*
/src/ExperimentalTopDown2DFlightSimulatorCPP/Debug/*
/src/ExperimentalTopDown2DFlightSimulatorCPP/x64/*
/osmconvert64-0.8.8p.exe
/singapore-latest.osm.pbf
/test-map-ss-1.PNG
/test-map-ss-1.PNG.import
